# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* 1- Identify the popular languages that Data Scientists use
* 2- Identify the commonly used libraries used by Data Scientists
* 3- Show examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

* 1- Python
* 2- R
* 3- SQL
* 4- Julia 
* 5- JavaScript

Some of the commonly used libraries used by Data Scientists include:

* 1- NumPy
* 2- Pandas
* 3- Scikit-learn


| Data Science Tools | |
| ------------- | ------- |
| Apache Spark | |
| Scrapy     |  |
| Spyder       |  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [50]:
#  This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [52]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335




## Author
Nathalia Santana